* {
  padding: 0;
  margin: 0;
}

main {
  background-image: url("../img/Landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 148px 0 171px;
  height: calc(100vh - 162px - 100px);
}

form[action="booking.php"] {
  width: 50vw;
  display: grid;
  grid-template-areas:
    "first_name last_name date_selector"
    "email email date_selector"
    "phone_number phone_number date_selector"
    "fk_therapy fk_therapy date_selector"
    "comment comment date_selector"
    "button button auto";
  gap: 18px;
  align-content: center;
}

#date_selector {
  width: 152px;
  background-color: rgba(255, 253, 250, 0.10);
  border-radius: 5px;
  overflow-y: auto;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
}

#date_selector div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-top: 20px;
}

#date_selector div label {
  width: 96px;
  height: 41px;
  background-color: #D9D9D9;
  border-radius: 5px;
  padding: 12px 10px;
  text-align: center;
  cursor: pointer;
}

#date_selector div input[type="radio"]:checked+label {
  outline: black 2px solid;
  background-color: #FFFDFA;
}

input,
select,
textarea {
  font-family: "Quicksand", sans-serif;
  background-color: #FFFDFA;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
}

input {
  height: 18px;
}

input,
select {
  padding: 17px 0 17px 14px;
}

input::placeholder,
textarea::placeholder {
  font-family: "Quicksand", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
}

#first_name {
  grid-area: first_name;
}

#last_name {
  grid-area: last_name;
}

#email {
  grid-area: email;
}

#phone_number {
  grid-area: phone_number;
}

#fk_therapy {
  grid-area: fk_therapy;
}

#comment {
  grid-area: comment;
  height: 118px;
  padding: 11px 0 0 14px;
  resize: none;
}

form[action="booking.php"] button {
  grid-area: button;
}

#date_selector {
  grid-area: date_selector;
}

#date_selector .hidden {
  display: none;
}

.hidden {
  display: none;
}

form button {
  font-family: "Quicksand", sans-serif;
  height: 53px;
  color: #E0D3C4;
}

#booking_done {
  width: 642px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

#booking_done h2 {
  font-family: 'Rasa', serif;
  font-size: 40px;
  font-weight: bold;
}

#booking_done a,
#dashboard a {
  font-family: "Quicksand", sans-serif;
  background-color: #000000;
  color: #d3c0ab;
  border-radius: 6px;
  padding: 8.5px 29.07px;
  border: none;
  text-decoration: none;
}

form[action="setup_dates.php"] {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: initial;
}

form[action="setup_dates.php"] label:not(:first-child),
form[action="setup_dates.php"] button {
  margin-top: 20px;
}

form[action="setup_dates.php"] ::-webkit-calendar-picker-indicator {
  font-size: x-large;
}

/* -------------- Dashboard -------------- */
#dashboard {
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  padding-top: 44px;
}

#dashboard_nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 50px;
}

#dashboard select {
  margin-bottom: 33px;
}

#dashboard div[data-therapy-type]{
  width: 100vw;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 770px) {

  form[action="booking.php"] {
    width: 60vw;
    grid-template-areas:
      "first_name"
      "last_name"
      "email"
      "phone_number"
      "fk_therapy"
      "date_selector"
      "comment"
      "button";
    gap: 18px 0;

  }

  #date_selector {
    width: auto;
    min-height: 105px;
    height: auto;
  }

  #date_selector div {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 10px;
  }

}