/* Secment kodet af David*/
* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.rasa {
  font-family: 'Rasa', serif;
  font-weight: 400;
}

nav {
  display: flex;
  background-color: #EDE6DD;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

nav img {
  height: 100px;
}

nav div {
  display: flex;
  align-items: center;
}

nav h1 {
  padding-left: 12px;
  color: #38291D;
  font-size: 30px;
}

li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #38291D;
}

.mobile-nav {
  display: none;
  padding: 24px;
  text-align: end;
  font-size: 28px;
}

.fa-xmark {
  top: 20px;
  right: 20px;
  position: absolute;
  font-size: 36px;
}

#mobile_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #fff0e0e3;
  overflow-x: hidden;
  transition: 0.5s;
}

#mobile_overlay ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12vh;
  padding-top: 64px;
}

#mobile_overlay a {
  font-size: 30px;
}

button {
  background-color: #000000;
  color: #d3c0ab;
  border-radius: 6px;
  font-size: 14px;
  padding: 10px;
  border: none;
  transition: ease-in-out 250ms;
}

main:not(#dashboard) button:hover {
  background-color: transparent;
  outline: #000000 1px solid;
  color: var(--sort);
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.into-landing-section {
  width: 70%;
  margin-left: 15%;
  padding-top: 24vh;
}

.into-landing-section div {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 6%;
}

.into-landing-section div img {
  height: 25vw;
}

.into-landing-section div article {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.into-landing-section h1 {
  font-size: 64px;
  padding: 10px;
}

.into-landing-section p {
  width: 60%;
  padding: 10px;
  font-size: 20px;
}

.into-landing-section button {
  margin: 10px;
}

.bg-img-intro {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -3;
  top: 0;
  right: 0;
}

.ommig-section {
  background-color: #E0D3C4;
  width: 100%;
  margin-top: 24vh;
  display: flex;
  justify-content: center;
}

.ommig-section img {
  height: 360px;
  width: 360px;
  object-fit: cover;
  border-radius: 300px;
  padding: 18px;
}

.ommig-section article {
  padding: 12px;
  text-align: justify;
  max-width: 734px;
}

.ommig-section h3 {
  font-size: 30px;
  padding-bottom: 14px;
}

.ommig-section p {
  padding-bottom: 14px;
}

.mobile-text {
  display: none;
}

.upcomming-events-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FFffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcomming-events-section section {
  display: flex;
  justify-content: space-around;
}

.upcomming-events-section div {
  background-color: #FFFDFA;
  box-shadow: 1px 1px 6px gray;
  width: 22%;
  border-radius: 4px;
}

.upcomming-events-section h1 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 2vh;
}

.upcomming-events-section p {
  padding: 12px;
  width: 80%;
  margin-bottom: 20px;
}

.upcomming-events-section h3 {
  font-size: 22px;
  padding: 12px;
}

.upcomming-events-section h6 {
  padding: 12px;
  font-size: 14px;
}

.upcomming-events-section button {
  margin-top: 24px;
}

footer {
  background-color: #534237;
  color: #D3C0AB;
  display: flex;
  justify-content: space-around;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  width: 212px;
  padding: 14px;
}

.fa-brands {
  font-size: 30px;
  background-color: #FFFDFA;
  color: #000000;
  padding: 10px;
  border-radius: 30px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

@media only screen and (max-width: 770px) {

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .into-landing-section div img {
    display: none;
  }

  .into-landing-section {
    width: 100%;
    margin-left: 0;
    padding-top: 10vh;
  }

  .into-landing-section article {
    padding: 16px;
  }

  .bg-img-intro {
    width: 100%;
  }

  .ommig-section {
    margin-top: 12vh;
    flex-direction: column;
    padding-left: 12vw;
    width: auto;
  }

  .ommig-section div {
    display: flex;
  }

  .ommig-section h3 {
    padding-top: 20vh;
    font-size: 40px;
  }

  .ommig-section img {
    height: 200px;
    width: 200px;
  }

  .ommig-section article {
    width: 70%;
  }

  .mobile-text {
    display: block;
  }

  .desktop-text {
    display: none;
  }

  .upcomming-events-section section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .upcomming-events-section div {
    width: 90%;
    padding: 10px;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

}

/* Secment kodet af David*/